<%- include('./partials/header.ejs')%>
<body> 
    <%- include('./partials/navbar.ejs')%>
    <div class="content" id="content" onclick="closeSidebar()">
        <h2>TESTING CONTENT</h2>
    </div>
</body>
<%- include('./partials/footer.ejs')%>