.home_container {
    width: 100%;
    height: 100%;

}

/* CTA SESSION */
.cta_content {

    align-items: center;
    justify-content: center;
    display: flex;
}

.cta {
    padding: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(15px, 3vw, 23px);
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    margin-top: 60px;
}

.name {
    color: rgb(68, 175, 223);
}

/* ABOUT SESSION */
.about_content {
    display: block;
}

.about_card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0em 3em;
}


.picture img {
    border-radius: 600px;
    border: 5px solid rgb(68, 175, 223);
    width: 350px;

}


.text {
    color: white;
    font-size: 1.1em;
    padding: 2em;
    min-height: 250px;
    z-index: 0;

}

.text p {
    padding-top: 1em;
}


/* SKILLS SESSION */

.skills_content {
    display: block;
    padding-bottom: 110px;

}

.skill_card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 2em;
}


/* PROJECTS SESSION */

.projects_content {
    display: block;
    height: 80vh;
    min-height: 1800px;
    background: #1e1e1e;
}


@media screen and (max-width: 1400px) {
    .cta {
        width: 70%;
    }

    .skill_card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}


@media screen and (max-width: 1100px) {


    /* ABOUT SESSION */

    .about_card {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .text {
        margin-top: -20px;
        font-size: 1em;
    }

    .picture img {

        width: 20vw;

    }


}

@media screen and (max-width: 500px) {

    .cta {
        margin: 0;
        padding: 2em;
        width: 90%;
    }

    .picture img {

        width: 25vw;

    }


}