.container {
    width: clamp(350px, 88%, 800px);
    height: 555px;
    border-radius: 50px;
    background-color: #272727fd;
    display: flex;
    padding: 2em;
    box-shadow: 0 0 20px;
    color: rgb(100, 197, 241);
    margin-right: 90px;
}

@media screen and (max-width:1400px) {

    .container {
        margin-right: 0;
    }
}

@media screen and (max-width:499px) {

    .container {
        margin-right: 30px;
    }
}