.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    flex: 1;
    background: #1e1e1e;
    height: 100%;
}


.min-height {
    min-height: 70%;
}