.info_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.2%;
    padding-left: 4%;

}

.info_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_experience p {
    font-size: 1em;
}

.info_header h4 {
    font-size: 2em;
    border: 3px solid rgb(100, 197, 241);
    border-radius: 100%;
    padding: 0.1em 0.2em;
    padding-right: 0.3em;
    margin-bottom: 0.1em;

}

.column {
    flex-direction: column;
    justify-content: center;
}



.info_title {
    text-transform: uppercase;
    font-size: 3em;
}

/* BODY */



.arrow_img {
    width: 100px;
    height: 100px;
    display: flex;
    transition-property: width, visibility;
    transition-duration: 0.5s, 0s;
}

.arrow_img:hover {
    width: 110px;
    cursor: pointer;
}

.info_box {
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.9em;
    padding-right: 30px;

}


.img_box {
    width: 10%;
}

@media screen and (max-width: 900px) {

    .info_header {
        justify-content: space-around;

    }

    @media screen and (max-width:800px) {
        .info_experience p {
            font-size: 0.75em;
            text-align: center;
            width: 90%;
        }

        .info_experience h4 {
            font-size: 1.5em;
        }

        .info_title {
            font-size: 2.8em;
        }

    }

    .info_box {
        display: inline-flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .img_box {
        display: flex;
        justify-content: space-between;
        order: 2;
    }

    .skills_box {
        order: 1;
        /* Mover a SkillBox para o topo */
    }

    .left {
        position: flex;
        margin-left: -160px;
        margin-top: -10px;
    }

    .right {
        position: flex;
        margin-top: -100px;
        margin-left: 120px;
    }

    .arrow_img {
        bottom: 50px;
    }



}


@media screen and (max-width:499px) {

    .info_title {
        font-size: 2.5em;
    }

    .left {
        margin-top: -30px;
        margin-left: -120px;
    }

    .right {

        margin-left: 80px;
    }


}