.skills {
    width: 100%;
    max-width: 900px;
    min-width: 700px;
    min-height: 580px;
    border-radius: 50px;
    background-color: #272727fd;
    margin: 0 1.5%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 0 20px;
    color: rgb(100, 197, 241);
}


.info_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.2%;
    padding-left: 4%;

}

.info_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_experience p {
    font-size: 1em;
}

.info_header h4 {
    font-size: 2em;
    border: 3px solid rgb(100, 197, 241);
    border-radius: 100%;
    padding: 0.1em 0.2em;
    padding-right: 0.3em;
    margin-bottom: 0.1em;

}

.column {
    flex-direction: column;
    justify-content: flex-start;
}



.info_title {
    text-transform: uppercase;
    font-size: 3em;
}

/* BODY */



.arrow_img {
    width: 100px;
    height: 100px;
    display: flex;
    transition: 0.5s;
}

.arrow_img:hover {
    width: 110px;
    cursor: pointer;
}


@media screen and (max-width: 2100px) {}

.info_box {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.9em;

}


.img_box {
    width: 10%;
}