.skill_menu {
    display: none;
}

@media screen and (max-width: 1400px) {
    .skill_menu {
        display: flex;
        white-space: nowrap;
        cursor: grab;
        overflow: hidden;
        position: relative;
        user-select: none;
        margin-bottom: 3em;
        width: 600px;

    }

    .skill_list {
        display: inline-flex;
        padding: 10px;
        transition: transform 0.3s ease;
    }

    .skill {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3em;
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: transform 0.1s ease, opacity 0.1s ease;
        cursor: pointer;
    }
}