.skill {
    width: 100%;
    max-width: 900px;
    min-width: 700px;
    min-height: 580px;
    border-radius: 50px;
    background-color: #272727fd;
    margin: 0 1.5%;
    display: flex;
    padding: 2em;
    box-shadow: 0 0 20px;
    color: rgb(100, 197, 241);
}

/* HEADER */
.logo {
    width: 25%;
    display: flex;
}


.info {
    display: block;
    padding-left: 4em;
    width: 80%;
}

.info_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 1em;

}

.info_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_experience p {
    font-size: 1em;
}

.info_header h4 {
    font-size: 2em;
    border: 3px solid rgb(100, 197, 241);
    border-radius: 100%;
    padding: 0.1em 0.2em;
    padding-right: 0.3em;
    margin-bottom: 0.1em;

}


.info_title {
    text-transform: uppercase;
    font-size: 3em;
}

/* BODY */
.info_desc {
    text-transform: uppercase;
    padding-top: 2em;
    height: 32vh;
    font-size: 1.5em;
    color: white;
}

.star_img {
    width: 13%;
    padding-right: 1.2em;
}