/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text_shpere {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2em;

}

.text_shpere span {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}

/* Change color of each text in sphere on hover   */

.text_shpere span:hover {
    color: rgb(68, 175, 223);
    cursor: pointer;

}